PIVOTTRACK_CONFIG_FOLDER=./.pivottrack/config
PIVOTTRACK_DEFINITION_FOLDER=./.pivottrack/definitions
PIVOTTRACK_LOG_FOLDER=./.pivottrack/logging/
PIVOTTRACK_CONFIG_FILE=config.example.yaml
PIVOTTRACK_TRACK_INTERVAL=600
RABBITMQ_PORT=5672
RABBITMQ_MGM_PORT=15672
TENZIR_TOKEN=CHANGEME
TENZIR_PLATFORM_CONTROL_ENDPOINT=CHANGEME
TENZIR_ENDPOINT=pivottrack-tenzir:5158
PT_RABBITMQ_USER=guest
PT_RABBITMQ_PASS=guest
PT_RABBITMQ_HOST=pivottrack-rabbitmq-1
PT_RABBITMQ_PORT=5672